<div class="w-full h-full flex items-center justify-center p-4">
  <div class="flex flex-row items-center justify-center gap-8 -mt-24">

    <div
      class="flex flex-col items-center justify-center bg-white/5 backdrop-blur-md border border-gray-600 rounded-xl shadow-lg p-6 h-[450px] w-[370px]">

      <h2 class="text-lg font-bold mb-6 tracking-wide" [ngClass]="isLightTheme ? 'text-black' : 'text-white'">
        SOURCE DATABASE
      </h2>

      <div class="card bg-gray-700 w-28 h-28 ring-4 ring-green-400 shadow-[4px_4px_0px_#3b82f6]
        border border-blue-200 rounded-xl overflow-hidden flex items-center justify-center"
        (click)="selectPrimary('PostgreSQL')" [ngClass]="primaryClassMap['PostgreSQL']">

        <figure class="w-full h-full p-4">
          <img src="assets/images/postgres.png" class="object-contain w-full h-full" />
        </figure>
      </div>

      <span class="mt-4 text-base font-medium" [ngClass]="isLightTheme ? 'text-black' : 'text-white'">
        PostgreSQL
      </span>
      <br>

      <form [formGroup]="primaryForm" class="w-full flex flex-col items-center gap-3">

        <div class="grid grid-cols-2 gap-2 w-4/5">

          <input class="input input-bordered input-xs h-8 w-full" placeholder="Host" formControlName="host">

          <input class="input input-bordered input-xs h-8 w-full" placeholder="Port" formControlName="port">

          <input class="input input-bordered input-xs h-8 w-full" placeholder="Username" formControlName="username">

          <input class="input input-bordered input-xs h-8 w-full" placeholder="Password" type="Password"
            formControlName="password">

        </div>

        <div class="relative w-4/5">
          <select class="w-full appearance-none bg-gray-700
           border border-gray-300
           text-gray-200 text-sm font-medium
           px-4 py-2.5 rounded-lg
           shadow-sm
           focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
           hover:border-gray-400
           transition-all duration-200 ease-in-out
           cursor-pointer pr-10" [(ngModel)]="selectedDatabase" [ngModelOptions]="{ standalone: true }"
            (click)="onOpenDatabaseDropdown()">

            <option value="" disabled selected *ngIf="!selectedDatabase" class="text-gray-500">
              {{ loadingDatabases ? 'Loading databases...' : 'Select Database' }}
            </option>

            <option *ngFor="let db of databaseList" [value]="db" id="option1">
              {{ db }}
            </option>

          </select>

          <svg class="pointer-events-none absolute right-3 top-1/2 -translate-y-1/2 h-4 w-4 text-gray-500" fill="none"
            stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </div>

      </form>

    </div>

    <div class="text-gray-500 flex-shrink-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-10 h-10">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
      </svg>
    </div>

    <div class="flex flex-col">

      <div
        class="flex flex-col items-center bg-white/5 backdrop-blur-md border border-gray-600 rounded-xl shadow-lg p-6 h-[500px] w-[500px]">

        <h2 class="text-lg font-bold mb-4 tracking-wide" [ngClass]="isLightTheme ? 'text-black' : 'text-white'">
          TARGET CONFIGURATION
        </h2>
        <div class="grid grid-cols-3 gap-6 mb-4 w-full justify-items-center">
          <div *ngFor="let db of databases" class="flex flex-col items-center group cursor-pointer">

            <div
              class="card bg-[#344054] border border-white-600 w-20 h-20 shadow rounded-lg overflow-hidden flex items-center justify-center transition-all duration-200"
              [ngClass]="clientClassMap[db.name]" (click)="selectClient(db.name)">

              <figure class="p-3 h-full w-full">
                <img [src]="db.img" class="object-contain w-full h-full" />
              </figure>
            </div>

            <span class="mt-2 text-xs font-medium transition-colors duration-200"
              [ngClass]="clientForm.get('type')?.value === db.name ? 'text-green-400 font-bold' : 'text-base-content'">
              {{ db.name }}
            </span>
          </div>
        </div>
        <form [formGroup]="clientForm" class="w-full p-2 grid grid-cols-2 gap-4">

          <input class="input input-bordered input-xs h-8" formControlName="type" placeholder="Type" readonly>

          <input class="input input-bordered input-xs h-8" formControlName="database" placeholder="Database Name">

          <input class="input input-bordered input-xs h-8" formControlName="host" placeholder="Host">

          <input class="input input-bordered input-xs h-8" formControlName="port" placeholder="Port">
          <input class="input input-bordered input-xs h-8" formControlName="username" placeholder="Username">

          <input class="input input-bordered input-xs h-8" formControlName="password" placeholder="Password"
            type="Password">

        </form>
      </div>

      <div class="flex space-x-4 w-[500px] mt-4">

        <button class="btn btn-outline btn-info flex-1 text-base-content font-bold" (click)="onOkClick()">
          Connect
        </button>

        <button class="btn btn-outline btn-error flex-1 text-base-content font-bold" (click)="onCancelClick()">
          Cancel
        </button>

      </div>
    </div>

  </div>
</div>

<div *ngIf="isConnecting || messageBox.visible"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black/60 backdrop-blur-sm">

  <div class="bg-gray-800 border border-gray-600 rounded-xl p-8 w-[420px]
           flex flex-col items-center shadow-2xl text-center">

    <ng-container *ngIf="isConnecting">
      <span class="loading loading-spinner loading-lg text-blue-500 mb-4"></span>

      <h3 class="text-lg font-semibold text-white mb-1">
        Connecting Databases
      </h3>

      <p class="text-gray-300 text-sm">
        Establishing connection to Server and Client...<br />
        Please wait.
      </p>
    </ng-container>

    <ng-container *ngIf="!isConnecting && messageBox.visible">

      <span class="text-5xl mb-3" [ngClass]="messageBox.type === 'success' ? 'text-green-400' : 'text-red-400'">
        {{ messageBox.type === 'success' ? '✓' : '✕' }}
      </span>

      <h3 class="text-lg font-bold mb-3" [ngClass]="messageBox.type === 'success' ? 'text-green-400' : 'text-red-400'">
        {{ messageBox.type === 'success' ? 'Connection Successful' : 'Connection Failed' }}
      </h3>

      <p class="text-gray-300 text-sm mb-6">
        {{ messageBox.text }}
      </p>

      <button class="btn btn-md" [ngClass]="messageBox.type === 'success' ? 'btn-success' : 'btn-error'"
        (click)="closeMessageBox()">
        OK
      </button>

    </ng-container>

  </div>
</div>
